/* Default */

body {
	background-color: #EAFFEA; 	
}


/* block */

.block {	
	position: relative; 
	left: 50%; 
	margin-left: -430px; 
	width: 860px;
	font-size: 20px;  
}

.block table {
	background-color: #FFFFFF;
	border: 1px solid #133413;  	
}

.block th {
	background-color: #00AD00; 	
	border: 1px solid #133413; 
}

.block td {
	background-color: #FFFFFF; 
	text-align: center; 	
	border: 1px solid #133413; 
}

/* footer */

.footer {
	font-size: 16px; 
	font-color: #133413; 	
}

.footer p {
	text-align: center; 	
}

.footer hr {
	width: 430px; 
}
