/* block */

.block {	
	position: relative; 
	left: 50%; 
	margin-left: -512px; 
	width: 1024px;
	font-size: 20px; 
}

/* footer */

.footer {
	font-size: 16px; 
	font-color: #133413; 	
}

.footer p {
	text-align: center; 	
}

.footer hr {
	width: 430px; 
}
